@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);

*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
.Main{
    background-color: #212121;
    line-height: 2;
}
.navbar-brand img{
    width: 80%;
    float: left;
    text-align: left;
}
.nav-item a{
    color: #ffffff !important;

}
.nav-item a{
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    position: relative;
}
.nav-item a:hover:before{
    content: "";
    position: absolute;
    bottom: -1px;
    background: yellow;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    left:calc(50% - 8px);
}
.Main-2{
    background-color: #212121;
    padding-top: 120px;
    padding-bottom: 120px;
}
.Main-2 h2, h3{
    font-family: 'Gotham Medium' !important;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}
.Main-2 h3{
    font-size: 30px;
}
#aftr{
    color: #AFAFAF;
    font-size: 16px;
    line-height: 1px;
    letter-spacing: 1px;
    font-weight: 500;
}
#aftr::after{
    content: "";
    background-image: url("images/direct-arrow.png");
    background-size: contain;
    width: 25px;
    height: 15px;
    fill: rgb(175, 175, 175);
    margin-top: -4px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
.Main-2 p{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    font-family: "Gotham Normal"!important;
}
.Main-2 span{
    color: rgb(251, 225, 16);
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
    position: relative;
    top: -2px;
}
.Main-2 h4{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.frm{
    border: none !important;
    background: transparent !important;
    border-bottom: 2.5px solid gray !important;
    margin-top: 50px;
}
.frm::-webkit-input-placeholder{
    font-size: 34px !important;
    font-weight: 600 !important;
}
.btn-1:hover{
   text-decoration: underline !important;
}
.btn-1{
    font-weight: 600 !important;
    background: transparent;
    color: #fff !important;
}
/*    end   */
.Main-3{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #000000;
    text-align: center;
    color: white;
}
#last{
    text-align: center;
    font-family: 'Gotham'!important;
}
#last h4{
    font-weight: 700;
    font-size: 4.8rem;
}
@media only screen and (min-width : 414px) and (min-height : 896px) {
    #last h4{
        font-size: 1.2rem;
        font-weight: 400;
    }
    .Main-2 h2,h3,h4,h6,p{
        text-align: center;
    }
}

/*///////////////////////////   second page csss ////////////////////*/
/*//////////////////////////                      //////////////////////////////////////////*/
.MAin-two{
    background-color: #212121;
    padding-top: 90px;
    padding-bottom: 70px;
}
.MAin-two h1{
    color: white;
}
.flex-container{
    /*background-color: #fff;*/
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.flex-container > div {
    /*background-color: #fff;*/
    background-color: #212121;
    width: 100px;
    flex-grow: 8;
    margin-top: 10px;
    align-items: flex-end;
    text-align: right;
    line-height: 75px;
    font-size: 30px;
}

/*   end   */
.flex-container1 {
    display: flex;
    height: 700px;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #191919;
}

.flex-container1 > div {
    background-color: #000;
    width: 40px;
    height: 10px;
    margin-top: 150px;
    margin-left: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.Main-three{
    background-color: #212121;
}
.flex-container3{
    display: flex;
}
.head-dive{
    color: white;
    margin-left: 260px;
}
.text-head{
    color: white;
    padding-left: 110px;
    padding-top: 100px;
}
.flex-container5{
    display: flex;
}

/*///////////*/
.Main-four{
    padding-bottom: 150px;
    background-color: #212121;
}

:before{
    box-sizing: border-box;
}
#lol{
    margin-left: 80px;
    vertical-align: middle;
    display: inline-block;
}
.img-div{
    margin-left: 70px;
}
.img-div2 {
    position: relative;

}
#lol::before{
    content: '';
    position: absolute;
    right: 0;
    top: -150px;
    width: 57%;
    height: 116%;
    background: #6056ab;
    z-index: -1;
}



/* add css of subscription plan file  */

h1.demo-title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #2A293E;
    letter-spacing: 2px;
  }
  
  h1.demo-title a {
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #ffffff;
  }
  
  .pricing-table .ptable-item {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 992px) {
    .pricing-table .ptable-item {
      width: 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .pricing-table .ptable-item {
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .pricing-table .ptable-item {
      width: 100%;
    }
  }
  
  .pricing-table .ptable-single {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .pricing-table .ptable-header,
  .pricing-table .ptable-body,
  .pricing-table .ptable-footer {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .pricing-table .ptable-status ,
  .pricing-table .ptable-title,
  .pricing-table .ptable-price,
  .pricing-table .ptable-description,
  .pricing-table .ptable-action {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .pricing-table .ptable-single {
    background: #f6f8fa;
  }
  
  .pricing-table .ptable-single:hover {
    box-shadow: 0 0 10px #999999;
  }
  
  .pricing-table .ptable-header {
    margin: 0 30px;
    padding: 30px 0 45px 0;
    width: auto;
    background: #2A293E;
  }
  
  .pricing-table .ptable-header::before,
  .pricing-table .ptable-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #f6f8fa;
  }
  
  .pricing-table .ptable-header::before {
    right: 50%;
    border-right: 250px solid transparent;
  }
  
  .pricing-table .ptable-header::after {
    left: 50%;
    border-left: 250px solid transparent;
  }
  
  .pricing-table .ptable-item.featured-item .ptable-header {
    background: #FF6F61;
  }
  
  .pricing-table .ptable-status {
    margin-top: -30px;
  }
  
  .pricing-table .ptable-status span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    color: #FF6F61;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    background: #2A293E;
  }
  
  .pricing-table .ptable-status span::before,
  .pricing-table .ptable-status span::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid #FF6F61;
  }
  
  .pricing-table .ptable-status span::before {
    right: 50%;
    border-right: 25px solid transparent;
  }
  
  .pricing-table .ptable-status span::after {
    left: 50%;
    border-left: 25px solid transparent;
  }
  
  .pricing-table .ptable-title h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .pricing-table .ptable-price h2 {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-left: 15px;
  }
  
  .pricing-table .ptable-price h2 small {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    margin-left: -15px;
  }
  
  .pricing-table .ptable-price h2 span {
    margin-left: 3px;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing-table .ptable-body {
    padding: 20px 0;
  }
  
  .pricing-table .ptable-description ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .pricing-table .ptable-description ul li {
    color: #2A293E;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 7px;
    border-bottom: 1px solid #dedede;
  }
  
  .pricing-table .ptable-description ul li:last-child {
    border: none;
  }
  
  .pricing-table .ptable-footer {
    padding-bottom: 30px;
  }
  
  .pricing-table .ptable-action a {
    display: inline-block;
    padding: 10px 20px;
    color: #FF6F61;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: #2A293E;
  }
  
  .pricing-table .ptable-action a:hover {
    color: #2A293E;
    background: #FF6F61;
  }
  
  .pricing-table .ptable-item.featured-item .ptable-action a {
    color: #2A293E;
    background: #FF6F61;
  }
  
  .pricing-table .ptable-item.featured-item .ptable-action a:hover {
    color: #FF6F61;
    background: #2A293E;
  }



/* =================================================== */